.header__logo {
    max-width: 142px;
    padding-bottom: 41px;
}

@media screen and (max-width: 414px) {
    .header__logo {
        margin-left: 46px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 104px;
        margin-left: 27px;
        padding-bottom: 27px;
    }
}