.header {
    display: flex;
    margin: 0 auto 0 auto;
    padding-top: 45px;
    max-width: 880px;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    box-sizing: border-box;
    justify-content: space-between;
}

@media screen and (max-width: 895px) {
    .header {
        max-width: 720px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 414px) {
    .header {
        margin: 0 auto 0 auto;
        padding-top: 30px;
        max-width: 414px;
    }
}

@media (max-width: 320px) {
    .header {
        margin: 0 auto 0 auto;
        padding-top: 28px;
        padding: 0;
        max-width: 320px;
    }
}