/* .header__nav {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 6px;
} */

.header__nav {
  display: flex;
  gap: 24px;
  min-height: 22px;
  padding-top: 6px;
}

@media screen and (max-width: 400px) {
 .header__nav {
  flex-direction: column;
  margin: auto;
 } 
}