.profile {
    margin: 40px auto 0 auto;
    padding: 0;
    max-width: 880px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 895px) {
    .profile {
        max-width: 720px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 680px) {
    .profile {
        max-width: 640px;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        margin-top: 42px;
        max-width: 282px;
        padding: 0;
    }
}