.form__item {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin:  0;
    padding-bottom: 9px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

/* .form__item:invalid {
    border-bottom: 1px solid red;
} */
 
@media screen and (max-width: 530px) {
    .form__item {
        max-width: 350px;
    }
}

@media screen and (max-width: 500px) {
    .form__item {
        max-width: 238px;
        width: 100%;
    }
}