.popup__container {
    display: block;
    position: relative;
    max-width: 430px;
    width: 100%;
    height: fit-content;
}

@media screen and (max-width: 320px) {
    .popup__container {
        max-width: 282px;
    }
}