.form {
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
}

@media screen and (max-width: 500px) {
    .form {
        max-width: 282px;
        margin: 0 auto;
    }
}